.header {
    grid-area: h;
    margin-bottom: 30px;
    height: 80px;
    background-color: #cc0000;
    font-family: AcadEref;
    font-size: 40px;
    text-align: center;
}

.AppLogo {
    height: 10vmin;
}

.Login{
    float: right;
    margin-right: 30px;
}

.authPhoto{
    height: 50px;
    width: 50px;
    border-radius: 25px;
}
