.App-wrapper {
  display: grid;

  grid-template-areas: 
  "h h h"
  "n n n"
  "c c c";

  grid-template-rows: 110px 90px 3fr;
  grid-template-columns: 5fr 5fr 5fr;
  grid-gap: 0px;

  background-color: #ffffff;
}