.dialogs{
    display: grid;
    grid-template-columns: 2fr 8fr;
    margin-right: 30px;
    height: 100vh;
}

.DialogList{
    border-style: dashed;
    height: 60vh;
}

.Dialog_display{
    border-style: dashed;
    height: 60vh;
}

.dialog{
    padding: 10px;
}

.message{
    padding: 10px;
}

.nametext{
    color:white;
    text-decoration: none;
    margin: 10px;
}

.activeName{
    font-size: large;
}

.photo{
    height: 50px;
    width: 50px;
    border-radius: 25px;
}